$grey: #2f2f2f;
$lightgrey: #515151;
$yellow: #fddf19;

* {
  margin: 0;
  padding: 0;
  font-family: "Tahoma", Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.FullScreen {
  width: 100vw;
  height: 100vh;
}

// INTRO
nav {
  position: fixed;
  top: 0;
  right: 0;
  li {
    list-style-type: none;
    float: left;
  }
  a {
    display: block;
    color: #3c5cbb;
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
  }
  a:hover {
    color: #839ae9;
  }
  a:active {
    color: #839ae9;
  }
}

.Intro {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  .centerImage {
    width: 600px;
    height: 500px;
    .NestingDoll {
      width: 400px;
      height: 400px;
      margin: auto;
      background-image: url(./images/NestingDoll.png);
      background-repeat: no-repeat;
      background-size: cover;
      .Eyebrows {
        width: 400px;
        height: 400px;
        margin: auto;

        #BigEyebrow {
          width: 45px;
          position: relative;
          top: 70px;
          left: 126px;
          animation: 5s linear raiseBrow1 infinite;
          animation-delay: 1s;
          @keyframes raiseBrow1 {
            0% {
              transform: translateY(0px);
            }
            5% {
              transform: translateY(-10px);
            }
            10% {
              transform: translateY(-5px);
            }
            15% {
              transform: translateY(-10px);
            }
            20% {
              transform: translateY(0px);
            }
          }
        }
        #MidEyebrow {
          width: 40px;
          position: relative;
          top: 135px;
          left: 202px;
          animation: 5s linear raiseBrow2 infinite;
          animation-delay: 2s;
          @keyframes raiseBrow2 {
            0% {
              transform: translateY(0px);
            }
            5% {
              transform: translateY(-8px);
            }
            10% {
              transform: translateY(0px);
            }
          }
        }
        #SmallEyebrow {
          width: 30px;
          position: relative;
          top: 200px;
          left: 253.5px;
          animation: 5s linear raiseBrow3 infinite;
          animation-delay: 3s;
          @keyframes raiseBrow3 {
            0% {
              transform: translateY(0px);
            }
            10% {
              transform: translateY(-4px);
            }
            20% {
              transform: translateY(-4px);
            }
            30% {
              transform: translateY(0px);
            }
          }
        }
      }
    }
    .Signature {
      width: 100%;
      height: 180px;
      position: relative;
      top: -80px;
      #Signature {
        height: 100%;
      }
      #WebDev {
        font-size: 15px;
        color: red;
        display: inline-block;
        position: relative;
        top: -86px;
        left: 130px;
      }
      #Signature,
      #WebDev {
        animation: 4s ease appear forwards;
        @keyframes appear {
          0% {
            opacity: 0;
          }
          80% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
}

// Responsive

@media screen and (max-width: 650px) {
  .Intro {
    .centerImage {
      width: 250px;
      height: 440px;
      .NestingDoll {
        width: 250px;
        height: 250px;
        .Eyebrows {
          width: 250px;
          height: 250px;
          #BigEyebrow {
            width: 30px;
            position: relative;
            top: 37px;
            left: 78px;
          }
          #MidEyebrow {
            width: 27px;
            position: relative;
            top: 77px;
            left: 124px;
          }
          #SmallEyebrow {
            width: 20px;
            position: relative;
            top: 118px;
            left: 154px;
          }
        }
      }
      .Signature {
        width: 100%;
        top: 0;
        #Signature {
          width: 200px;
        }
        #WebDev {
          font-size: 12px;
          top: -75px;
        }
      }
    }
  }
}

// PROJECTS

.Projects {
  background-color: #fddf19;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .Description {
    width: 450px;
    height: 220px;
    margin-left: 100px;
    padding-top: 40px;
    text-align: justify;

    h2 {
      font-size: 2rem;
      padding-bottom: 15px;
    }
    h3 {
      font-size: 1rem;
      padding-bottom: 10px;
      font-weight: 300;
    }
    p {
      color: red;
      font-weight: bolder;
      word-spacing: 10px;
      a {
        text-decoration: none;
        color: black;
        i {
          font-size: 36px;
        }
      }
    }
  }
  .AllProjects {
    width: 100%;
    height: 250px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    .DescriptionSmall {
      display: none;
    }
    .Project {
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
    #Proj1 {
      background-image: url(./images/BendyCandleBg.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    #Proj2 {
      background-image: url(./images/outBouldering.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    #Proj3 {
      background-image: url(./images/UnkownProject.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .ProjCoverTop {
      width: 100%;
      height: 50%;
      border-top-left-radius: 150px;
      border-top-right-radius: 150px;
    }
    .ProjCoverBottom {
      width: 100%;
      height: 50%;
      border-bottom-left-radius: 150px;
      border-bottom-right-radius: 150px;
    }
  }
  .ProjCoverTop.Proj1 {
    width: 100%;
    background-color: #2a187d;
    img {
      height: 100px;
      position: relative;
      top: 25px;
      left: 77px;
    }
  }
  .ProjCoverBottom.Proj1 {
    width: 100%;
    background-color: #2a187d;
    img {
      height: 100px;
      position: relative;
      left: 77px;
    }
  }
  .ProjCoverTop.Proj2 {
    width: 100%;
    background-color: black;
    img {
      height: 100px;
      position: relative;
      top: 25px;
      left: 77px;
    }
  }
  .ProjCoverBottom.Proj2 {
    width: 100%;
    background-color: black;
    img {
      height: 100px;
      position: relative;
      left: 77px;
    }
  }
  .ProjCoverTop.Proj3 {
    width: 100%;
    background-color: #3c5cbb;
    img {
      height: 100px;
      position: relative;
      top: 25px;
      left: 77px;
    }
  }
  .ProjCoverBottom.Proj3 {
    width: 100%;
    background-color: #3c5cbb;
    img {
      height: 100px;
      position: relative;
      left: 77px;
    }
  }
}

// Responsive

@media screen and (max-width: 755px) {
  .Projects {
    width: 100vw;
    height: 1670px;
    .DescriptionBig {
      display: none;
    }
    .AllProjects {
      width: 100vw;
      height: 1660px;
      margin-top: 40px;
      margin-bottom: 0;
      padding: 0;
      flex-direction: column;
      justify-content: flex-start;
      .Description {
        padding: 0;
        padding-bottom: 20px;
        margin: 0 auto;
        width: 400px;
        h2,
        p {
          text-align: center;
        }
      }
      .DescriptionSmall {
        display: block;
      }
      .ProjCoverTop,
      .ProjCoverBottom {
        display: none;
      }
      #Proj1,
      #Proj2 {
        margin: 0 auto;
        margin-bottom: 100px;
      }
      #Proj3 {
        margin: 0 auto;
      }

      .Mystery {
        height: 120px;
        h3 {
          text-align: center;
        }
      }
    }
  }
}
@media screen and (max-width: 440px) {
  .Projects {
    height: 2000px;
    .AllProjects {
      height: 2000px;
      .Description {
        width: 350px;
        height: 250px;
        padding: 0;
        h2 {
          font-size: 1.5rem;
        }
        p {
          word-spacing: 10px;
          font-size: 0.6rem;
        }
      }
      .DescriptionSmall {
        display: block;
      }
      .ProjCoverTop,
      .ProjCoverBottom {
        display: none;
      }
      #Proj1,
      #Proj2 {
        margin: 0 auto 200px auto;
      }
      #Proj3 {
        margin: 0 auto;
      }
      .Mystery {
        height: 120px;
        h3 {
          text-align: center;
        }
      }
    }
  }
}

// CONTACT

.Contact {
  background-color: black;
  .formContainer {
    margin: auto;
    box-sizing: border-box;
    width: 500px;
    height: 450px;
    padding-top: 130px;
    background-color: black;
    .socialMedia {
      width: 72px;
      height: 36px;
      float: right;
      a {
        i {
          font-size: 36px;
          color: $yellow;
        }
      }
      a:nth-child(2) {
        padding-left: 10px;
      }
    }
    form {
      width: 500px;
      height: 450px;
      box-sizing: border-box;
      .inputDiv {
        float: left;
        width: 100%;
        margin: 20px 0;
        position: relative;
      }
      .underlineEffect {
        width: 100%;
        border: 0;
        padding: 7px 0;
        border-bottom: 2px solid $lightgrey;
        background-color: black;
        color: $yellow;
        font-size: 18px;
      }
      input:focus {
        outline: none;
        color: $yellow;
        width: 100%;
      }
      ::placeholder {
        color: $lightgrey;
      }
      .underlineEffect ~ .focusBorder {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $yellow;
        transition: 0.5s;
      }
      .underlineEffect:focus ~ .focusBorder {
        width: 100%;
        transition: 0.5s;
      }
      textarea:focus {
        outline: none;
        color: $yellow;
      }
      .underlineEffect2 {
        resize: none;
        margin-top: 20px;
        width: 100%;
        border: 0;
        padding: 7px 0;
        border-bottom: 2px solid $lightgrey;
        background-color: black;
        color: $lightgrey;
        font-size: 18px;
      }
      .underlineEffect2 ~ .focusBorder {
        position: absolute;
        bottom: 3px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $yellow;
        transition: 0.5s;
      }
      .underlineEffect2:focus ~ .focusBorder {
        width: 100%;
        transition: 0.5s;
      }
      button {
        width: 150px;
        height: 40px;
        position: relative;
        bottom: 0px;
        margin: auto;
        font-size: 20px;
        background-color: red;
        border: none;
        padding: 0;
        cursor: pointer;
      }
    }
  }
}
// Responsive
@media screen and (min-width: 250px) {
  .Contact {
    .formContainer {
      form {
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus input:-webkit-autofill,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus {
        border-bottom: 2px solid $lightgrey;
        -webkit-text-fill-color: $yellow;
        -webkit-box-shadow: 0 0 0px 1000px #000 inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .Contact.FullScreen {
    height: 800px;
    .formContainer {
      width: 90vw;
      form {
        width: 90vw;
      }
    }
  }
}

// ANIMATIONS PROJECT COVERS
.ProjCoverTop.Proj1.AnimatedTop {
  animation: 1s ease slideToTop forwards;
}
.ProjCoverBottom.Proj1.AnimatedBottom {
  animation: 1s ease slideToBottom forwards;
}
.ProjCoverTop.Proj2.AnimatedTop {
  animation: 1s ease slideToTop forwards;
}
.ProjCoverBottom.Proj2.AnimatedBottom {
  animation: 1s ease slideToBottom forwards;
}
.ProjCoverTop.Proj3.AnimatedTop {
  animation: 1s ease slideToTop forwards;
}
.ProjCoverBottom.Proj3.AnimatedBottom {
  animation: 1s ease slideToBottom forwards;
}
@keyframes slideToTop {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-70px);
    opacity: 0;
  }
}
@keyframes slideToBottom {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(70px);
    opacity: 0;
  }
}
