* {
  margin: 0;
  padding: 0;
}

.FullScreen {
  width: 100vw;
  height: 100vh;
}

@keyframes slideToTop {
  0% {
    transform: translateY(0vh);
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50vh);
    opacity: 0;
  }
}

@keyframes slideToBottom {
  0% {
    transform: translateY(0vh);
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(50vh);
    opacity: 0;
  }
}

.Intro {
  color: white;
  background-image: url(./images/NestingDolls.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.Projects-top-doll {
  width: 100vw;
  height: 50vh;
  background-color: #2a187d;
  position: absolute;
  top: 0vh;
  animation: 2s ease slideToTop forwards;
  animation-delay: 1s;
}
.Projects-bottom-doll {
  width: 100vw;
  height: 50vh;
  background-color: #2a187d;
  position: absolute;
  top: 50vh;
  animation: 2s ease slideToBottom forwards;
  animation-delay: 1s;
}

.Projects {
  background-color: blueviolet;
}
